{
  "extends": "eslint-config-airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "ecmaFeatures": {
    "classes": true,
    "jsx": true
  },
  "rules": {
    "import/default": 0,
    "import/no-duplicates": 0,
    "import/named": 0,
    "import/namespace": 0,
    "import/no-unresolved": 0,
    "import/no-named-as-default": 2,
    "valid-jsdoc": 2,
    "react/jsx-no-undef": 2,
    "react/jsx-uses-react": 1,
    "react/wrap-multilines": 2,
    "semi": [2, "never"],
    "space-before-function-paren": [2, {
      "anonymous": "always",
      "named": "never"
    }]
  },
  "plugins": ["react", "import"],
  "settings": {
    "import/parser": "babel-eslint"
  }
}
